# NBA Basketball Analytics
### Split up into 3 stages: 
#### 1) Data Collection: Gathering Data from sources such as  Kaggle and crawling NBAReference and Consolidating informaation
#### 2) Using various techniques such as XG-Boost, Rating System, and general logistic regression to predict outcome, spread, and over/under
#### 3) Backtesting and comparing to Historical Odds to project profitibility

## 1. Data Collection
First search for data from open sources online such as Kaggle

In [10]:
import pandas as pd
import numpy as np
import os
from bs4 import BeautifulSoup
import requests
import re

In [4]:
#examine some of the data sources found from kaggle
player_data = pd.read_csv("kaggle_resources/player_data.csv")
players = pd.read_csv("kaggle_resources/players.csv")
season_stats = pd.read_csv("kaggle_resources/seasons_stats.csv")

In [9]:
#player_data
#players
season_stats.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

## 2. The Bulk of the good stuff

## 3. Backtesting

In [13]:
#solid site for the backtest https://www.goldsheet.com/histnba.php
comm = re.compile("<!--|-->")

html = requests.get("https://www.goldsheet.com/histnba.php").content
soup = BeautifulSoup(re.sub("<!--|-->","", str(html)))
#print(cleaned_soup)

table = soup.find_all('table')[0] # Grab the first table
#print(table)
data1 = pd.read_html(table.prettify())
data1

IndexError: list index out of range